@keyframes jump {
  0%   {transform: translate3d(0,0,0) scale3d(1,1,1);}
  40%  {transform: translate3d(0,30%,0) scale3d(1,1,1);}
  100% {transform: translate3d(0,100%,0) scale3d(1,1,1);}
}
.jump {
  transform-origin: 50% 50%;
  animation: jump 0.7s linear infinite;
  animation-direction: alternate;
  margin-bottom: 35px;
}